{% extends 'base.html' %}


{% block content %}
  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div>
                <input type="text" placeholder="Your Name" name="name"/>
              </div>
              <div>
                <input type="number" placeholder="Phone Number" name="phone"/>
              </div>
              <div>
                <input type="text" placeholder="Email" name="email"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message"/>
              </div>
              <div class="btn_box">
                <button type="submit" >
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  
{% endblock content %}